.wrapper {
  position: relative;
  min-height: calc(100vh - 56px);
  background-size: cover;
  background-position: center;
  background-image: url(/sunbird-lis-login-hero-v2.png);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
}
